<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500 - Internal Server Error</title>
</head>
<body>
    Server encountered an unexpected error: {{ error }}
</body>
</html>