<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Polyline map</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    {{plinemap.js}}
</head>
<body>
    <div id="mapWrapper">
        {{ plinemap.html }}
    </div>
</body>
</html>